.navbar {
  background-color: #B5828C;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  font-family: 'Roboto', sans-serif;
  position: relative;
  flex-wrap: wrap; /* Allow for responsive wrapping */
}

.navbar h1 {
  font-size: 24px;
  flex: 1;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  transition: color 0.3s;
}

.navbar a:hover {
  color: #CE5989;
}

.search-bar {
  flex: 2;
  max-width: 400px; /* Limit the width of the search bar */
  margin-left: 20px;
}

.navbar ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar li {
  margin: 0 10px;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 20px;
}

.hamburger span {
  height: 3px;
  width: 25px;
  background: white;
  margin: 4px 0;
  transition: all 0.3s;
}

@media (max-width: 480px) {
  /* 767  -responsive for smaller */
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }

  .navbar h1 {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
  }

  .search-bar {
    max-width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .navbar ul {
    flex-direction: column;
    width: 100%;
    display: none;
  }

  .navbar ul.active {
    display: flex;
    position: absolute;
    top: 50px;
    left: 0;
    background-color: #B5828C;
    width: 100%;
    z-index: 10;
  }

  .navbar li {
    margin: 10px 0;
    width: 100%;
    text-align: center;
  }

  .hamburger {
    display: flex;
  }
}
