<nav class="navbar">
  <h1><a routerLink="/productpage">Smart Mobile Zone</a></h1>
  <ul class="nav-menu">
    <li><a routerLink="/home"><i class="fas fa-home"></i> Home</a></li>
    <li><a routerLink="/about"><i class="fas fa-info-circle"></i> About</a></li>
    <li><a routerLink="/cart"><i class="fas fa-shopping-cart"></i> Cart</a></li>
    <li><a routerLink="/login"><i class="fas fa-sign-in-alt"></i> Login</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>
<li><a [routerLink]="['/productpage']" routerLinkActive="router-link-active" >Products</a></li>
