<p>header works!</p>
<nav class="nav">
  <h1><a routerLink="/" style="font-family: 'Times New Roman', Times, serif; font-size: 30px;">Smart Mobile Zone</a></h1>
  <div [ngSwitch]="menuType">
    <!-- Default menu for non-logged-in users -->
    <ul *ngSwitchCase="'default'">
      <li><a [routerLink]="['/productpage']" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{ exact: true }">
        <i class="fa fa-home"></i> Products
      </a></li>
      <li><a [routerLink]="['/home']" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{ exact: true }">
        <i class="fa fa-info-circle"></i> About
      </a></li>
      <li><a [routerLink]="['/login']" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{ exact: true }">
        <i class="fa fa-sign-in"></i> Login
      </a></li>
    </ul>

    <!-- Menu for logged-in users -->
    <ul *ngSwitchCase="'user'">
      <li><a [routerLink]="['/home']" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{ exact: true }">
        <i class="fa fa-home"></i> Home
      </a></li>
      <li><a [routerLink]="['/about']" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{ exact: true }">
        <i class="fa fa-info-circle"></i> About
      </a></li>
      <li><a><i class="fa fa-user"></i> {{ userName | titlecase }}</a></li> <!-- Displaying the first name -->
      <li><a (click)="userLogout()">
        <i class="fa fa-sign-out"></i> Logout
      </a></li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
