

<div class="update-product">
  <h2 style="color:black;">Update Product</h2>

  <button class="cancel-button" routerLink="/addProduct">
    <i class="fa fa-times"></i> Cancel
  </button>
  <p class="message-p">{{productMessage}}</p>
  <form #addProduct="ngForm"
  (ngSubmit)="submit(addProduct.value)"
   class="common-form">
  <input
      type="text"
      class="form-input"
      placeholder="Enter Product Name"
      name="name"
      ngModel="{{productData?.name}}"
      required
    />
<input
    type="text"
    class="form-input"
    placeholder="Enter Product Price"
    name="price"
    ngModel="{{productData?.price}}"
    required
  />
<input
  type="text"
  class="form-input"
  placeholder="Enter Product Category"
  name="category"
  ngModel="{{productData?.category}}"
  required
/>
<input
type="color"
class="form-input"
placeholder="Enter Product Color"
name="color"
ngModel="{{productData?.color}}"
required
/>
<textarea
type="text"
class="form-input"
placeholder="Enter Product Description"
name="general"
ngModel="{{productData?.general}}"
required></textarea>
<textarea
type="text"
class="form-input"
placeholder="performace"
name="performace"
ngModel="{{productData?.performance}}">
required>
</textarea>

<textarea
type="text"
class="form-input"
placeholder="Display"
name="display"
ngModel="{{productData?.display}}"
required></textarea>
<textarea
type="text"
class="form-input"
placeholder="Camera"
name="camera"
ngModel="{{productData?.Camera}}"
required>
</textarea>
<textarea
type="text"
class="form-input"
placeholder="Enter battery"
name="battery"
ngModel="{{productData?.Battery}}"
required>
</textarea>
<input
type="text"
class="form-input"
placeholder="Enter Product Image URL"
name="image"
ngModel="{{productData?.image}}"
required
/>
<input
type="text"
class="form-input"
placeholder="Product in stock"
name="stock"
ngModel="{{productData?.Stock}}"
required
/>
<button class="form-button">Update Product</button>
</form>
</div>
