.about-us-container {
  background: linear-gradient(to right, #6a11cb, #2575fc);
  color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-us-content {
  text-align: center;
  max-width: 800px;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 8px;
}

h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
}

h2 {
  font-size: 2rem;
  margin-top: 20px;
  text-transform: capitalize;
  font-weight: 500;
  color: #fc575e;
}

p {
  font-size: 1.1rem;
  line-height: 1.6;
  margin: 10px 0;
}

strong {
  font-weight: 600;
  color: #fc575e;
}

.about-us-content p {
  margin-bottom: 20px;
}

.about-us-content h2 {
  margin-top: 30px;
  margin-bottom: 15px;
  font-size: 2.5rem;
  text-align: center;
  color: #fff;
}

.about-us-content p {
  font-size: 1.1rem;
  color: white;
  line-height: 1.8;
}

.about-us-content p strong {
  color: #fc575e;
  font-size: 1.3rem;
}

.about-us-content p {
  margin-bottom: 15px;
}

.about-us-content p strong:hover {
  text-decoration: underline;
  cursor: pointer;
}

@media (max-width: 768px) {
  .about-us-content {
    padding: 20px;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  p {
    font-size: 1rem;
  }
}
